[submodule "plugins/libexeng.graphics.gl3"]
	path = plugins/libexeng.graphics.gl3
	url = https://github.com/soultaker/libexeng.graphics.gl3.git
[submodule "plugins/libexeng.audio.al"]
	path = plugins/libexeng.audio.al
	url = https://github.com/soultaker/libexeng.audio.al.git
